<div class="container">

  <div>
    <h2>Ajouter un Événement :</h2>
  </div>

  <form [formGroup]="evenementForm" (ngSubmit)="addEvenement()">

    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>ID Événement</label>
      <input type="text" formControlName="idEvenement" class="form-control" />
      <span *ngIf="evenementForm.get('idEvenement')?.hasError('required') && evenementForm.get('idEvenement')?.touched"
        class="text-danger">
        L'ID est obligatoire !
      </span>
      <span *ngIf="evenementForm.get('idEvenement')?.hasError('pattern') && evenementForm.get('idEvenement')?.touched"
        class="text-danger">
        L'ID doit être un nombre !
      </span>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Nom Événement</label>
      <input type="text" formControlName="nomEvenement" class="form-control" />
      <span
        *ngIf="evenementForm.get('nomEvenement')?.hasError('required') && evenementForm.get('nomEvenement')?.touched"
        class="text-danger">
        Le nom est obligatoire !
      </span>
      <span
        *ngIf="evenementForm.get('nomEvenement')?.hasError('minlength') && evenementForm.get('nomEvenement')?.touched"
        class="text-danger">
        Le nom doit contenir au moins 3 caractères !
      </span>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Lieu</label>
      <input type="text" formControlName="lieu" class="form-control" />
      <span *ngIf="evenementForm.get('lieu')?.hasError('required') && evenementForm.get('lieu')?.touched"
        class="text-danger">
        Le lieu est obligatoire !
      </span>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date de l'Événement</label>
      <input type="date" formControlName="dateEvenement" class="form-control" />
      <span
        *ngIf="evenementForm.get('dateEvenement')?.hasError('required') && evenementForm.get('dateEvenement')?.touched"
        class="text-danger">
        La date est obligatoire !
      </span>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Organisateur</label>
      <input type="text" formControlName="organisateur" class="form-control" />
      <span
        *ngIf="evenementForm.get('organisateur')?.hasError('required') && evenementForm.get('organisateur')?.touched"
        class="text-danger">
        L'organisateur est obligatoire !
      </span>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Email</label>
      <input type="email" formControlName="email" class="form-control" />
      <span *ngIf="evenementForm.get('email')?.hasError('required') && evenementForm.get('email')?.touched"
        class="text-danger">
        L'email est obligatoire !
      </span>
      <span *ngIf="evenementForm.get('email')?.hasError('email') && evenementForm.get('email')?.touched"
        class="text-danger">
        L'email n'est pas valide !
      </span>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Genre</label>
      <select class="form-control form-control-lg" formControlName="Genre">
        @for(genre of genres; track genre.idGenre){
        <option [value]="genre.idGenre">{{ genre.nomGenre }}</option>
        }
      </select>
      <span *ngIf="evenementForm.get('Genre')?.hasError('required') && evenementForm.get('Genre')?.touched"
        class="text-danger">
        Le genre est obligatoire !
      </span>
    </div>

    <div class="mt-3">
      <button type="submit" class="btn btn-success" [disabled]="evenementForm.invalid">Ajouter</button>
    </div>
  </form>
</div>